body {
    background-color: #f9f9f9;
}

.login-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .login-form .header {
        color: #333;
        text-align: center;
        text-shadow: none;
    }

        .login-form .header h1 {
            font-size: 24px;
            font-weight: 300;
            letter-spacing: -0.5px;
        }

        .login-form .header img {
            height: 80px;
        }

    .login-form .body {
        padding: 15px;
        background-color: #fff;
        font-size: 14px;
        border: 1px solid #d8dee2;
        border-radius: 5px;
    }
