@{
    ViewData["Title"] = "Configuration";
}

    <div class="text-center">
        <p>
            <h2>
                userId: @ViewBag.userId
            </h2>
        </p>
        <p>
            <h2>
               db connection: @ViewBag.dbConn
            </h2>
        </p>
    </div>
