@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <h2>
            <a href="/home/ByIConfiguration">
                ByIConfiguration
            </a>
        </h2>
    </p>
    <p>
        <h2>
            <a href="/home/ByInstance">
                ByInstance
            </a>
        </h2>
    </p>
    <p>
        <h2>
            <a href="/home/ByOptions">
                ByOptions
            </a>
        </h2>
    </p>
    <p>
        <h2>
            <a href="/home/ByOptionsSnapshot">
                ByOptionsSnapshot
            </a>
        </h2>
    </p>
    <p>
        <h2>
            <a href="/home/ByOptionsMonitor">
                ByOptionsMonitor
            </a>
        </h2>
    </p>
    <p>
        <h2>
            <a href="/home/services">
                Services
            </a>
        </h2>
    </p>
</div>
