<ol class="breadcrumb">
    <li><a ui-sref="apps.list">应用列表</a></li>
</ol>
<div class="add-bar">
    <div>
    </div>
    <button class="btn btn-info btn-sm" ng-click="toAdd()">新建应用</button>
</div>
<table class="table-hover">
    <tr>
        <th>应用名称</th>
        <th>应用Id</th>
        <th>密钥</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>可被继承</th>
        <th>启用</th>
        <th></th>
    </tr>
    <tr ng-repeat="app in apps">
        <td ng-bind="app.name"></td>
        <td ng-bind="app.id"></td>
        <td ng-bind="app.secret"></td>
        <td ng-bind="app.createTime|date:'yyyy-MM-dd HH:mm'"></td>
        <td ng-bind="app.updateTime|date:'yyyy-MM-dd HH:mm'"></td>
        <td ng-bind="app.inheritanced?'是':'否'" ng-class="app.inheritanced?'text-success':'text-warning'"></td>
        <td ng-bind="app.enabled?'是':'否'" ng-class="app.enabled?'text-success':'text-warning'"></td>
        <td>
            <button class="btn btn-primary btn-xs" ng-click="toEdit(app)">修改</button>
            <button class="btn btn-xs"
                    ng-class="app.enabled?'btn-warning':'btn-success'"
                    ng-bind="app.enabled?'停用':'启用'"
                    ng-click="disableOrEnable(app)"></button>
            <button 
                    class="btn btn-danger btn-xs"
                    ng-click="delete(app)">
                删除
            </button>
        </td>
    </tr>
</table>
