<ol class="breadcrumb">
    <li><a ui-sref="apps.list">Apps</a></li>
    <li><a>Edit</a></li>
</ol>

<form ng-submit="save()">
    <div class="form-group">
        <label for="appId">应用Id </label>
        <input type="text" class="form-control" id="inputAppId" placeholder="应用Id（必填）" 
               ng-model="app.id" ng-disabled="true">
    </div>
    <div class="form-group">
        <label for="appName">应用名称 </label>
        <input type="text" class="form-control" id="inputAppName" placeholder="应用名称 (必填)" 
               ng-model="app.name">
    </div>
    <div class="form-group">
        <label for="appName">密钥</label>
        <input type="text" class="form-control" id="inputSecret" placeholder="密钥" 
               ng-model="app.secret">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="app.enabled">&nbsp; 启用
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">确定</button>
</form>
