<ol class="breadcrumb">
    <li><a ui-sref="apps">Apps</a></li>
</ol>
<div class="add-bar">
    <button class="btn btn-info btn-lg" ng-click="toAdd()">新建应用</button>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>AppName</th>
        <th>AppId</th>
        <th>Secret</th>
        <th>CreateTime</th>
        <th></th>
    </tr>
    <tr>
        <td>wxapi</td>
        <td>wxapi</td>
        <td>fjkalsdjkfl2e32fjlk;ad</td>
        <td></td>
        <td>
            <button class="btn btn-danger">停用</button>
            <button class="btn btn-primary">修改</button>
        </td>
    </tr>
</table>
