<ol class="breadcrumb">
    <li><a ui-sref="clients">连接的客户端列表</a></li>
</ol>
<div class="form-inline" style="margin-bottom:20px">
    节点：
    <select ng-model="selectedNodeAddress" class="form-control" ng-change="getClients(selectedNodeAddress)">
        <option ng-repeat="node in nodes" value="{{node.address}}">
            {{node.address}}
        </option>
    </select>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>客户端Id</th>
        <th>应用Id</th>
        <th>最后心跳时间</th>
        <th></th>
    </tr>
    <tr ng-repeat="client in clients">
        <td ng-bind="client.id"></td>
        <td ng-bind="client.appId"></td>
        <td ng-bind="client.lastHeartbeatTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
        <td>
            <button class="btn btn-warning btn-xs" ng-click="offline(client, $index)">断开</button>
        </td>
    </tr>
</table>
