<ol class="breadcrumb">
    <li><a ui-sref="config.list">配置列表</a></li>
    <li><a>版本历史</a></li>
</ol>

<div class="panel panel-default" ng-repeat="log in logs">
    <div class="panel-body">
        <div class="config-log">
            <div class="text-muted">
                <p>{{log.modifyTime|date:'yyyy-MM-dd HH:mm:ss'}} <span ng-if="$index === 0" style="font-weight:bold">（当前版本）</span></p>
                <div>配置组：{{log.group}}</div>
                <div>配置键：{{log.key}}</div>
                <div>值：{{log.value}}</div>
            </div>
            <div>
                <button class="btn btn-primary btn-xs" ng-click="rollback(log)" ng-if="$index > 0">回滚至此版本</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-default" ng-click="goback()">返回</button>
</div>