<ol class="breadcrumb">
    <li><a ui-sref="config.list">配置列表</a></li>
    <li><a>编辑</a></li>
</ol>

<form ng-submit="save()">
    <div class="text-danger">
        {{error_message}}
    </div>
    <div class="form-group">
        <label for="selectAppId">所属应用</label>
        <select ng-model="config.appId" id="selectAppId" class="form-control" ng-disabled="1">
            <option ng-repeat="app in apps" value="{{app.id}}">
                {{app.name}}({{app.id}})
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputKey">配置键</label>
        <input type="text" class="form-control" id="inputKey" placeholder="配置键（必填）" maxlength="100" ng-disabled="1"
               ng-model="config.key">
    </div>
    <div class="form-group">
        <label for="inputValue">值 </label>
        <textarea type="text" class="form-control" id="inputValue" placeholder="值 (必填)" maxlength="4000"
                  ng-model="config.value" ng-show="formatMode==='text'"></textarea>
        <div id="cm_area"></div>
        <div class="text-right">
            <span class="small text-muted">格式：</span>
            <a href="javascript:;" ng-click="formatText(config)">text</a>
            <a href="javascript:;" ng-click="formatJson(config)">json</a>
            <a href="javascript:;" ng-click="formatYml(config)">yaml</a>
        </div>
    </div>
    <div class="form-group">
        <label for="inputGroup">组</label>
        <input type="text" class="form-control" id="inputGroup" placeholder="配置组" maxlength="100" ng-disabled="1"
                  ng-model="config.group">
      
    </div>
    <div class="form-group">
        <label for="inputDescription">描述</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="配置描述" maxlength="200"
               ng-model="config.description">
    </div>
    <div class="foot-bar">
        <button type="submit" class="btn btn-primary">确定</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>

</form>
