<ol class="breadcrumb">
    <li><a ui-sref="config.list">Configruations</a></li>
    <li><a ui-sref="config.add">Add</a></li>
</ol>

<form>
    <div class="form-group">
        <label for="appId">配置组</label>
        <input type="text" class="form-control" id="inputGroup" placeholder="配置组">
    </div>
    <div class="form-group">
        <label for="appId">配置键</label>
        <input type="text" class="form-control" id="inputKey" placeholder="配置键（必填）">
    </div>
    <div class="form-group">
        <label for="appName">值 </label>
        <input type="text" class="form-control" id="inputValue" placeholder="值 (必填)">
    </div>
    <div class="form-group">
        <label for="appName">描述</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="配置描述">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">确定</button>
</form>
