<div class="dash">
    <div class="top-bar">
        <button class="btn btn-primary" type="button" ng-click="goto('nodes.list')">
            <div>
                <h1>节点</h1>
            </div>
            <div>
                <h2 ng-bind="report.configCount">
                </h2>
            </div>
        </button>
        <button class="btn btn-warning" type="button" ng-click="goto('apps.list')">
            <div>
                <h1>应用</h1>
            </div>
            <div>
                <h2 ng-bind="report.appCount">
                </h2>
            </div>
        </button>
        <button class="btn btn-info" type="button" ng-click="goto('config.list')">
            <div>
                <h1>配置项</h1>
            </div>
            <div>
                <h2 ng-bind="report.configCount">
                </h2>
            </div>
        </button>

        <button class="btn btn-success" type="button" ng-click="goto('clients')">
            <div>
                <h1>客户端</h1>
            </div>
            <div>
                <h2 ng-bind="report.websocketCollectionReport.clientCount">
                </h2>
            </div>
        </button>
    </div>
    <div>
      
    </div>
    <div>
       
    </div>
    <div>
       
    </div>
</div>
