@{
    Layout = "_layout";
    @using AgileConfig
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<div>
    <ui-view></ui-view>
</div>

@section Scripts
    {
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/message.js" asp-append-version="true"></script>
    <script src="~/js/directives/datetimepicker.js"></script>
    <script src="~/js/directives/overflowClass.js"></script>
    <script src="~/js/apps.js" asp-append-version="true"></script>
    <script src="~/js/addApp.js" asp-append-version="true"></script>
    <script src="~/js/editApp.js" asp-append-version="true"></script>
    <script src="~/js/dash.js" asp-append-version="true"></script>
    <script src="~/js/config.js" asp-append-version="true"></script>
    <script src="~/js/addConfig.js" asp-append-version="true"></script>
    <script src="~/js/editConfig.js" asp-append-version="true"></script>
    <script src="~/js/jsonConfig.js" asp-append-version="true"></script>
    <script src="~/js/clients.js" asp-append-version="true"></script>
    <script src="~/js/nodes.js" asp-append-version="true"></script>
    <script src="~/js/addNode.js" asp-append-version="true"></script>
    <script src="~/js/modifyLog.js" asp-append-version="true"></script>
    <script src="~/js/syslog.js" asp-append-version="true"></script>
}