<ol class="breadcrumb">
    <li><a ui-sref="nodes.list">节点列表</a></li>
    <li><a ui-sref="nodes.add">新增</a></li>
</ol>

<form ng-submit="save()">
    <div class="text-danger">
        {{error_message}}
    </div>
    <div class="form-group">
        <label for="inputAppName">节点地址 </label>
        <input type="url" class="form-control" id="inputAddress" placeholder="节点地址 (必填)" maxlength="50"
               ng-model="node.address">
    </div>
    <div class="form-group">
        <label for="inputSecret">备注</label>
        <input type="text" class="form-control" id="inputRemark" placeholder="备注" maxlength="50"
               ng-model="node.remark">
    </div>
    <div class="foot-bar">
        <button type="submit" class="btn btn-primary">确定</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>

</form>
