<ol class="breadcrumb">
    <li><a ui-sref="nodes.list">节点列表</a></li>
</ol>
<div class="add-bar">
    <div>
    </div>
    <button class="btn btn-info btn-sm" ng-click="toAdd()">新增节点</button>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>节点地址</th>
        <th>备注</th>
        <th>最后响应时间</th>
        <th>状态</th>
        <th></th>
    </tr>
    <tr ng-repeat="node in nodes">
        <td ng-bind="node.address"></td>
        <td ng-bind="node.remark"></td>
        <td ng-bind="node.lastEchoTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
        <td ng-bind="node.status?'在线':'离线'" ng-class="node.status?'text-success':'text-danger'"></td>
        <td>
           <button class="btn btn-primary btn-xs"  ng-disabled="!node.status" ng-click="nodeClientsReflushConfigItems(node.address)">刷新所有客户端配置</button>
            <button class="btn btn-danger btn-xs" ng-click="deleteNode(node, $index)">删除</button>
        </td>
    </tr>
</table>