@import '~@/styles/variables.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}


//customer
.ant-btn-primary.danger {
  border-color:#ff4d4f;
  background-color: #ff4d4f;
}
.ant-btn-primary.danger:hover {
  border-color:#ff7875;
  background-color: #ff7875;
}

.ant-btn-primary.warn {
  border-color:#ffa940;
  background-color: #ffa940;
}
.ant-btn-primary.warn:hover {
  border-color:#ffc069;
  background-color: #ffc069;
}

.ant-btn-primary.success {
  border-color:#52c41a;
  background-color: #52c41a;
}
.ant-btn-primary.success:hover {
  border-color:#73d13d;
  background-color: #73d13d;
}

body {
  color: var(--ant-color-text, rgba(0, 0, 0, 0.88));
  background: var(--ant-color-bg-layout, #f5f5f5);
}

.ant-design-pro.ant-pro-layout .ant-pro-layout-container {
  min-height: 100vh;
}

.ant-design-pro.ant-pro-layout .ant-pro-layout-container > main {
  flex: 1 0 auto;
}

.layout-footer {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 0 16px;
}
