<ul class="nav nav-sidebar">
    <li ui-sref-active="active"><a ui-sref="dash">首页</a></li>
    <li ui-sref-active="active"><a ui-sref="config" ui-sref-opts="{reload: true}">配置项</a></li>
    <li ui-sref-active="active"><a ui-sref="apps" ui-sref-opts="{reload: true}">应用</a></li>
    <li ui-sref-active="active"><a ui-sref="clients" ui-sref-opts="{reload: true}">客户端</a></li>
</ul>
