@{
    Layout = "_layout_empty";
    @using AgileConfig
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    ViewBag.Title = "初始化管理员密码";
}
<link href="~/css/login.css" rel="stylesheet" asp-append-version="true">

<div class="container">
    <div class="login-form ">
        <div class="header">
            <p>
                <h2>Agile Config Console</h2>
            </p>
            <p class="text-muted">首次登录需要初始化管理员密码</p>
        </div>
        <div class="body">
            <form method="post" action="/admin/initpassword">
                <div class="form-group">
                    <label for="password">输入密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入管理密码" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">再次输入密码</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="请再次输入管理员密码" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">提交</button>
                </div>
                <div class="form-group text-center">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                </div>
            </form>
        </div>

    </div>
</div>
