@{
    Layout = "_layout_empty";
    @using AgileConfig
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    ViewBag.Title = "初始化管理员密码成功";
}

<style>
</style>
<div class="container text-center">
    <h3 class="text-success">密码初始化成功！</h3>

    <div class="text-muted">
        <span id="countDown">3秒之后自动跳转</span><a href="/admin/login">登录</a>页面
    </div>
</div>


@section Scripts
{
    <script>
        let sec = 3;
        setInterval(() => {
            if (sec === 0) {
                window.location = "/ui";
                return;
            }
            sec = sec - 1;
            $('#countDown').html( sec + '秒之后自动跳转');
        }, 1000);
    </script>
}