@{
    Layout = "_layout_empty";
    @using AgileConfig
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    ViewBag.Title = "登录";
}

<link href="~/css/login.css" rel="stylesheet" asp-append-version="true">

<div class="container">
    <div class="login-form ">
        <div class="header">
            <p>
                <h2>Agile Config Console</h2>
            </p>
            <p class="text-muted">登录到管理控制台</p>
        </div>
        <div class="body">
            <form method="post">
                <div class="form-group">
                    <label for="password">输入管理密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入管理密码" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </div>
                <div class="form-group text-center">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                </div>
            </form>
        </div>

    </div>
</div>
