<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs/internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="web" fileName="logs/${shortdate}/[${level}]${logger}.log"
            layout="${longdate}${event-properties:item=EventId.Id}[${uppercase:${level}}]${logger}${newline}${message}${newline}url: ${aspnet-request-url} action: ${aspnet-mvc-action}${newline}${exception}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--    web log-->
    <logger name="*" minlevel="Trace" writeTo="web" />
  </rules>
</nlog>